h1 {
  	color: white;
  	background-color: #222;
  	font-size: 32px;
  	text-shadow: 1px 1px black;
  	border-bottom: 1px solid blue;
  	border-top: 1px solid blue;
 	text-align: center;
  	margin-top: 20px;
  	margin-bottom: .75em;
}

#main {
  	display: block;
 	border-radius: 5px;
  	padding: 1em;
  	width: 88%;
  	margin: auto;
  	font-size: 24px;
}

.navigation a {
  	font-size: 20px;
  	border: 1px solid blue;
 	padding: 4px;
  	color: orange;
  	background-color: #222;
  	text-decoration: none;
}

.navigation a:hover {
  	background-color: blue;
  	color: white;
  	text-shadow: 1px 1px black;
  	border: 1px solid #222;
}

footer{
  	color: white;
  	background-color: #222;
  	text-shadow: 1px 1px black;
  	border-bottom: 1px solid blue;
  	border-top: 1px solid blue;
  	text-align: center;
  	margin-top: 1.5em;
}

footer>p{
  	margin: 3px;
}

#wrapper{
	background-color: black;
  	color: white;
  	text-align: center;
  	padding-bottom: 2px;
}

th {
	border: solid 2px black;
}

table {
	background-color: #bfbfbf;
	border: solid 2px white;
	text-shadow:.5px .5px black;
	width: 50%;
	margin: auto;
}

td {
	border: 2px solid black;
}

tr {
	background-color: rgba(208, 229, 242, .8);
}

tr:nth-child(even) {
	background-color: rgba(46, 125, 170, .5);
}

tr.gameVariables {
	background-color: lightcoral;
}

.gameName {
  background-color: rgba(150, 180, 230, .8);
}

button {
	background-color: #222;
	border: 1px solid blue;
	color: orange;
	padding: 2px;
	margin: 2px;
	font-size: 16px;
}