html {
  height: 100%;
  background: url('../images/medieval.jpg') fixed no-repeat center;
}
#levelUp {
  margin-top: 8%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameHead {
	background-color: black;
}

#medievalHead {
  background-color: orange;
  width: 30%;
  margin: auto;
}

#audio {
  border: 3px solid black;
  margin: auto;
  width: 20%;
}

#audioController {
	width: 100%;
	background-color: black;
}

footer {
	border: 2px solid white;
}